<table class="table table-hover table-condensed table-bordered">
  <thead>
  <tr>
    <th colspan="2"> Attributes </th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td><strong>Name</strong></td>
    <td><%= @resource.label %> </td>
  </tr>

  <tr>
    <td><strong>Type</strong></td>
    <td><%= @resource.type %> </td>
  </tr>
  <% @resource.priority_attr.each do |att| %>
    <%= render :partial => 'resource', :locals => {:att => att} if @resource.attr_list.include? att%>
  <% end %>

  <% @attributes.each do |att| %>
    <%= render :partial => 'resource', :locals => {:att => att} %>
  <% end %>

  </tbody>
</table>


<% unless @browser_other_using.solutions.empty? %>
  <%= render :partial => "other_using_resource", :locals => {:resources => @browser_other_using, :title => "Related to this #{@resource.type}:"} %>
<% end %>

<% @browser_related.each do |key, browser| %>
  <% unless browser.solutions.empty? %>
    <%= render :partial => "related_resource", :locals => {:resources => browser, :title => "#{key.humanize}"} %>
  <% end %>
<% end %>

<% content_for :header do %>
  <h1><%= @resource.label %> <small> <%= @resource.type %></small></h1>
<% end %>

