
<h2>Attributes</h2>

<table class="table table-hover">

<% @priority_attr.each do |att| %>
  <%= render :partial => 'resource', :locals => {:att => att} if @resource.attr_list.include? att%>
<% end %>

<% @attributes.each do |att| %>
  <%= render :partial => 'resource', :locals => {:att => att} %>
<% end %>

</table>
  

<% unless @browser_related.solutions.empty? %>
<h2> Other resources with related to this <%= @resource.type %>  </h2>
<table class="table table-hover">
<% @browser_related.solutions.each do |solution| %>
<tr>
  <% @browser_related.labels.each do |column| %>
    <% if @browser_related.label_has_id? column %>
      <td><%= link_to labelize(@browser_related.value(solution, column)), resource_path(@browser_related.relation_value_for_label(solution, column)) %> </td>
    <% else %>
      <td><%= @browser_related.value(solution, column) %> </td>
    <% end %>
  <% end %>
<% end %>
</tr>
</table>
<% end %>

<% content_for :header do %>
  <h1><%= @resource.label %> <small> <%= @resource.type %></small></h1>
<% end %>
