  <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
  <%= menu_group do %>
      <%= menu_item "Areas", type_path("Area") %>
      <%= menu_item "Services (tools)", type_path("Service") %>
      <%= menu_item "Tasks", type_path("Task") %>
      <%= menu_item "Documents", type_path("Document") %>
      <%= menu_item "Corpora", type_path("Corpus") %>
      <%= menu_item "Lexica", type_path("Lexica") %>
      <%= menu_item "Projects", type_path("Project") %>
  <% end %>
  <%= image_tag 'rdf-logo_32.png', :id => "rdflogo" %>
  </div><!-- /.navbar-collapse -->
